<div class="row">	
	<div class="col-md-12 sectioncontainer">
    <% if @memberships.any? -%>
      <% n = @memberships.order('id DESC').first %>
      <h3><b><%= n.title %></b></h3>
      <span><%= n.body.html_safe %></span>
      <br>
    <% end -%>
	</div>	
</div>

