<div class="row">
	<div class="col-md-9 sectioncontainer">
		<p style="margin-top: 1.2em;"><%= link_to('Назад', {controller: "admin", action: "index"})%></p>
		<h3>Добавление мероприятия</h3>
		<%= render 'form' %>
		<br>
	</div>
</div>